
@{
    ViewBag.Title = "EditPassWordDemo";
}
<form class="layui-form" action="">
    <table class="layui-table layui-table-add" lay-skin="nob">
        <tbody>
            <tr>
                <th width="100">旧密码</th>
                <td>
                    <div style="width: 240px">
                        <input type="text" name="" placeholder="请输入旧密码" autocomplete="off" class="layui-input">
                    </div>
                </td>
            </tr>
            <tr>
                <th>新密码</th>
                <td>
                    <div style="width: 240px">
                        <input type="text" name="" placeholder="请输入新密码" maxlength="11" autocomplete="off" class="layui-input">
                    </div>
                </td>
            </tr>
            <tr>
                <th>确认密码</th>
                <td>
                    <div style="width: 240px">
                        <input type="text" name="" placeholder="请输入新密码" maxlength="11" autocomplete="off" class="layui-input">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="margin-left: 145px; margin-bottom: 15px;">
        <div class="layui-btn" style=" min-width: 150px;">确 定</div>
    </div>
</form>

@section Scripts {
    <script>
        layui.use(['jquery', 'layer', 'form'], function () {
            var $ = layui.jquery,
                layer = layui.layer;

            layer.msg(11);

            // 修改密码
            $(document).on("click", ".layui-btn", function () {
                layer.msg(11);
            });

        });
    </script>
}
